.paginace
{
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    list-style: none;
}

.paginace li a
{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    margin: 0 4px;
    border-radius: 5px;
}